* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  color: $oslo-gray;
  font: 12px/18px $font-family;
  font-weight: 400;
  font-style: normal;
  background-color: $dark;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}
