$oslo-gray: #969c9f;
$dark: #2a2c2d;
$cape-cod: #3a3d3e;
$cape-cod-light: #404749;
$shark: #252a2c;
$shark-dark: #282c2d;

$font-family: "ArialMT", "Arial", sans-serif;

$tablet: 960px;
$mobile: 500px;
